//BEGIN footer
footer.footer
  div.container
    div.copyright
      span Nakitel &copy;2014
    nav.nav
      ul.nav__menu
        li.nav__menu__item
          a.nav__menu__link(href="#contacts") Контакти
        li.nav__menu__item
          a.nav__menu__link(href="#sale") Акции
        li.nav__menu__item
          a.nav__menu__link(href="#catalog") Каталог
        li.nav__menu__item
          a.nav__menu__link(href="#") Оплата / Доставка
        li.nav__menu__item
          a.nav__menu__link(href="#guarantee") Гарантия
//END footer
